* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    background: radial-gradient(at center, #FFFFFF, #C6ECEC);
}

.snowflake {
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 5px;
    z-index: 1;
}

.circleSnowflake {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: rgba(0, 8, 7, 0.35) 0px 5px 15px;
    background-color: #D9DBDF;
    position: absolute;
}

.leftDiv {
    width: 55dvw;
    height: 100dvh;
    display: flex;
    align-items: center;


}

.leftDiv,
.rightDiv {
    position: relative;
    z-index: 2;

}

.rightDiv {
    width: 45dvw;
    height: 100dvh;
    background-color: transparent;
    display: flex;
}

.leftDiv .circles div {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(177, 177, 177);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;

}

.leftDiv .circles {
    width: 100%;
    height: 300px;

}

.leftDiv .circles div:first-child {
    background: url(https://i.pinimg.com/564x/b2/70/88/b270884794e93ec979eb1224e77dc7b4.jpg);
    background-size: contain;
    margin: 10px 0 0 30px;

}

.leftDiv .circles div:nth-child(2) {
    margin: 20px 0 0 30px;
    background: #022e3f;
}

.leftDiv .circles div:nth-child(3) {
    background: #022e3f;
    margin: -200px 0 0 180px;
}

.leftDiv .circles div:nth-child(4) {
    background: url(https://i.pinimg.com/564x/e5/53/17/e55317c6dd9ade062ba3f1cfd541d284.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px 0 0 180px;
}

.leftDiv .circles div:nth-child(5) {
    background: url(https://i.pinimg.com/564x/a9/df/26/a9df2615ca6622ef5aff22d618b617bc.jpg);
    background-size: contain;
    margin: -360px 0 0 330px;
}

.leftDiv .circles div:nth-child(6) {
    background: #022e3f;
    margin: 20px 0 0 330px;
}

.leftDiv .circles div:nth-child(7) {
    background: #022e3f;
    margin: -200px 0 0 485px;
}

.leftDiv .circles div:last-child {
    background-size: contain;
    margin: 20px 0 0 485px;
}

@media screen and (max-width:1070px) {
    .leftDiv .circles div {
        width: 90px;
        height: 90px;
    }

    .leftDiv .circles {
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .leftDiv .circles div:nth-child(odd) {
        margin: 0 20px 0 0;
    }

    .leftDiv .circles div:nth-child(even) {
        margin: 0 20px 0 0;
    }
}

@media screen and (max-width:840px) {
    .leftDiv .circles div:nth-child(odd) {
        margin: 0 20px 0 0;

    }

    .leftDiv .circles div:nth-child(even) {
        margin: 0 20px 0 0;

    }

}

@media screen and (max-width:800px) {

    .leftDiv .circles div {
        width: 80px;
        height: 80px;

    }
}

@media screen and (max-width:730px) {

    .leftDiv .circles div {
        width: 80px;
        height: 80px;

    }

    .container {
        flex-direction: column;
    }

    .leftDiv,
    .rightDiv {
        width: 100dvw;
    }

    .leftDiv {
        height: 55dvh;
    }

    .rightDiv {
        height: 45dvh;
    }

    span {
        display: none;
    }
}

span:nth-child(even) {
    width: 15px;
    height: 100dvh;

    background: rgba(244, 255, 255, 0.507);

    backdrop-filter: blur(5px);
    position: relative;
    transform: matrix(1, 1, 0, 1, 0, 0);
    z-index: 3;
    margin-right: 4px;
    opacity: 0.5;

}

span:nth-child(odd) {
    width: 15px;
    height: 100dvh;
    background: rgba(216, 231, 231, 0.507);
    backdrop-filter: blur(5px);
    position: relative;
    transform: matrix(1, -1, 0, 1, 0, 0);
    z-index: 3;
    opacity: 0.5;



}

/* font-family: 'Rubik Moonrocks', sans-serif; */
.text {
    width: 45dvw;
    height: 100dvh;
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: 200;
    font-size: 50px;
    text-transform: capitalize;
    font-style: italic;
    font-family: 'Allura', cursive;
    color: rgb(177, 177, 177);
}

.discover {
    position: absolute;
    z-index: 4;
    top: 370px;
    color: #022e3f;
    font-weight: 200;
    width: 150px;
    height: 30px;
    font-size: 18px;
    border-radius: 0.5em;
    background: #D2D5D9;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff inset;
    font-family: 'Allura', cursive;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.discover:hover {
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
    border: 1px solid white;
    letter-spacing: 1px;
}

.discover:active {
    box-shadow: 4px 4px 12px #c5c5c5,
        -4px -4px 12px #ffffff;
}