* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    position: relative;
    width: 100dvw;
    height: 100dvh;
}

.pageOne {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: radial-gradient(at center, #ffffff, #c6ecec);
    overflow: hidden;
}

.pageTwo {
    width: 100dvw;
    background: #022e3f;
}

.page {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .3s ease-in;
}

.active {
    opacity: 1;
}

.snowflakes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    width: 20px;
    height: 20px;
    animation: snowflakes-fall linear infinite;
}

@keyframes snowflakes-fall {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100dvh);
    }
}

.leftDiv {
    width: 55dvw;
    height: 100dvh;
}

.leftDiv .necklaceDiv {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: drop-shadow(50px);

}

.leftDiv .navbar-brand {
    font-family: "Allura", cursive;
    font-size: 20px;
    font-weight: 500;
    background-color: #022e3f;
    color: #dfdede;
}

.leftDiv img {
    width: 240px;
    height: auto;
    filter: blur(1px);
}

.leftDiv img:nth-child(1) {
    margin-left: 200px;
}

.leftDiv img:nth-child(2) {
    margin-left: 245px;
    width: 290px;
}

.circleLogoDiv {
    width: 100px;
    height: 100px;
    background: #090C2C;
    position: absolute;
    z-index: 5;
    top: 240px;
    left: 375px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circleLogoDiv .logo {
    font-size: 30px;
    color: #ffffff;
    font-style: italic;
    font-family: "Allura", cursive;
}

.leftDiv,
.rightDiv {
    position: relative;
    z-index: 2;
}

.rightDiv {
    width: 45dvw;
    height: 100dvh;
    display: flex;
}

span:nth-child(even) {
    width: 15px;
    height: 100dvh;
    background: rgba(244, 255, 255, 0.507);
    backdrop-filter: blur(5px);
    position: relative;
    transform: matrix(1, 1, 0, 1, 0, 0);
    z-index: 3;
    margin-right: 4px;
    opacity: 0.5;
}

span:nth-child(odd) {
    width: 15px;
    height: 100dvh;
    background: rgba(216, 231, 231, 0.507);
    backdrop-filter: blur(5px);
    position: relative;
    transform: matrix(1, -1, 0, 1, 0, 0);
    z-index: 3;
    opacity: 0.5;
}

.greeting {
    width: 45dvw;
    height: 100dvh;
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greetingTitle {
    font-weight: 200;
    font-size: 60px;
    text-transform: capitalize;
    font-style: italic;
    font-family: "Allura", cursive;
    color: #31373ad3;
}

.exploreButton {
    position: absolute;
    z-index: 4;
    top: 360px;
    color: #dfdede;
    font-weight: 300;
    width: 160px;
    height: 28px;
    font-size: 15px;
    border-radius: 0.8em;
    background: #31373A;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: "Allura", cursive;
    font-style: italic;
}

.exploreButton i {
    animation: transform .8s linear infinite;
}

@keyframes transform {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(5px);
    }
}

.exploreButton:hover {
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    border: 1px solid white;
    letter-spacing: 1px;
}

.exploreButton:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

@media screen and (max-width:885px) {
    .greetingTitle {
        font-size: 50px;
    }

}

@media screen and (max-width:780px) {
    .leftDiv .necklaceDiv {
        margin-left: -200px;
    }

    .circleLogoDiv {
        top: 260px;
        left: 150px;
    }
}

@media screen and (max-width:750px) {
    .greetingTitle {
        font-size: 40px;
    }

    .exploreButton {
        font-size: 15px;
        width: 150px;
        height: 25px;
    }

    
}

@media screen and (max-width:550px) {
    .pageOne {
        display: flex;
        flex-direction: column;
    }

    .leftDiv,
    .rightDiv {
        width: 100dvw;
        height: 50dvh;
    }

    span:nth-child(odd) {
        display: none;
    }

    span:nth-child(even) {
        display: none;
    }

    .rightDiv {
        justify-content: center;
    }

    .greeting {
        width: 100dvw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        margin-top: 80px;
    }

    .exploreButton {
        top: 100px;
    }

    .leftDiv img:nth-child(1) {
        display: none;
    }

    .leftDiv .necklaceDiv {
        width: 100%;
    }

    .circleLogoDiv {

        top: 20px;
        left: 20px;
        width: 50px;
        height: 50px;
    }

    .circleLogoDiv .logo {

        font-size: 20px;
    }
}

@media screen and (min-height:650px) {

    .leftDiv img {
        width: 270px;
        height: auto;
        filter: blur(1px);
    }

    .leftDiv img:nth-child(1) {
        margin-left: 230px;
    }

    .leftDiv img:nth-child(2) {
        margin-left: 287px;
        width: 320px;
    }

    .exploreButton {
        top: 390px;
    }

    .circleLogoDiv {
        top: 270px;
        left: 425px;
    }
}

@media screen and (min-height:714px) {
    .leftDiv img {
        width: 300px;
        height: auto;
        filter: blur(1px);
    }

    .leftDiv img:nth-child(1) {
        margin-left: 260px;
    }

    .leftDiv img:nth-child(2) {
        margin-left: 323px;
        width: 350px;
    }

    .exploreButton {
        top: 450px;
    }

    .circleLogoDiv {
        top: 340px;
        left: 480px;
    }
}

@media screen and (min-height:852px) {
    .leftDiv img {
        width: 340px;
        height: auto;
        filter: blur(1px);
    }

    .leftDiv img:nth-child(1) {
        margin-left: 300px;
    }

    .leftDiv img:nth-child(2) {
        margin-left: 375px;
        width: 390px;
    }

    .exploreButton {
        top: 500px;
    }

    .circleLogoDiv {
        top: 365px;
        left: 525px;
    }
}